body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    text-align: left;
    padding: 2rem;
	margin-left: 10%;
	margin-right: calc(100% - 40%);
    background-color: #fda925;
	line-height: 30%;
	padding-left: 5%;
	padding-right: 5%;
    color: #333;
	& h1 {
		font-family: "Corporation Games";
	}
	& h2 {
		font-family: "ChakraPetch Regular";
	}
	& hr {
		border-color: black;
	}
}

.content {
    z-index: 1; /* Bring content to the front */
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
	margin: 20%;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
	z-index: -1;
}

.background-text {
    writing-mode: vertical-rl; /* Vertical text from right to left */
    /* transform: rotate(180deg); /\* Rotate to make it read from top to bottom *\/ */
    color: #ccc; /* Adjust text color as needed */
    font-size: 150px; /* Adjust font size as needed */
    position: absolute;
    z-index: -1; /* Move it behind the content */
	top: 1%;
	left: 0%;
	font-family: "Starbirl";
	white-space: nowrap;
}

@font-face {
	font-family: "Starbirl";
	src: url(assets/fonts/Starbirl.otf);
}

@font-face {
	font-family: "Corporation Games";
	src: url(assets/fonts/Corporation\ Games.otf);
}

@font-face {
	font-family: "Corporation Games Straight";
	src: url(assets/fonts/Corporation\ Games\ Straight.otf);
}

@font-face {
	font-family: "ChakraPetch Regular";
	src: url(assets/fonts/ChakraPetch-Regular.ttf);
}
