@use 'sass:math';

// TODO:
// + Make nav responsive

$header-height: 185px;
$simple-box-normal-width: 150px;
$double-box-normal-width: 220px;

@mixin simple-container($height: 300px, $width: 150px) {
	height: $height;
	width: $width;
	padding: 5%;
	background-color: #67adb1;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
	@content;
}

@mixin content-container ($width, $height){
	height: $height;
	width: $width;
	background-color: #67adb1;
	clip-path: polygon(0% 0%, 15% 0%, 20% 23%, 100% 23%, 100% 100%, 0% 100%);
	
}

@mixin link-list($height: 20px, $width: 75px) {
	$margin: 5px;
	$small-box-width : math.div($width, 2) - $margin;
	.container {
		width: $width;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		.box {
			height: 50px;
			background-color: blue;
			margin: 5px;
			border-radius: 5px;
			flex-basis: $width;
			&:nth-child(3), &:nth-child(4) {
				$width: $width * 2;
				flex-basis: $small-box-width;
				flex-grow: 1;
			}
		}
	}

}

@mixin flash {
	z-index: 1;
	background-color: #67adb1;
	@content;
}

body {
    margin: 0;
	font-family: "ChakraPetch Regular";
	background-color: #e6ebe4;
}

.header-bar {
	height: $header-height;
	display: flex;
	flex: auto;	
	justify-content: center;
	line-height: 30%;
	& header {
		text-align: left;
		padding: 2rem;
		background-color: #fda925;
		padding-left: 5%;
		padding-right: 5%;
		color: #333;
		& h1 {
			font-family: "Corporation Games";
		}
		& h2 {
			font-family: "ChakraPetch Regular";
		}
		& hr {
			border-color: black;
		}
	}
	& nav {
		padding-left: 2%;
		padding: 1%;
		padding-right: 4%;
		background-color: #3f636b;
		color: black;
		font-family: "ChakraPetch Regular";
		display: flex;
		align-items: center;
		gap: 5%;
		line-height: 0%;
		$header-padding: 60px;
		.single-box {
			
			@include simple-container($header-height - $header-padding);
			// @include link-list();
			.container {
				padding-top: 17px;
				padding-left: 32px;
				padding-right: 10%;
				width: 100px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
				.box {
					margin-bottom: 5%;
					flex-basis: 200px;
					& button {
						width: 75px;
						height: 20px;
						background-color: #cfdfd8;
						text-decoration: none;
						border: none;
						text-align: left;
					}
				}
			}
		}
		.double-box {
			// padding-right: 10%;
			width: $double-box-normal-width;
			@include simple-container($header-height - $header-padding, $double-box-normal-width);
			// @include link-list();
			.container {
				padding-top: 17px;
				padding-left: 30px;
				width: 150px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
				.box {
					margin-bottom: 5%;
					margin-right: 10%;
					flex-basis: 50px;
					& button {
						width: 50px;
						height: 20px;
						background-color: #cfdfd8;
						text-decoration: none;
						border: none;
						text-align: left;
					}
				}
			}
		}
	}
}

.content {
	display: flex;
	z-index: 1; /* Bring content to the front */
	position: relative;
	padding: 20px;
	border-radius: 8px;
	margin: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.abme-preview {
	padding: 20px;
	margin: 20%;
	margin-top: 3%;
	// box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	// border-color: ;
	@include content-container(auto, 40%);
	& h1 {
		margin-top: 0%;
	}
	& p {
		padding-left: 5%;
	}
	.link {
		text-align: right;
		& a {
			color: white;
			padding: 2%;
			margin-right: -3%;
			text-decoration: none;
			clip-path: polygon(0% 30%, 30% 0%, 100% 0%, 100% 100%, 0% 100%);
			background-color: #abd022;
		}
		
	}
}

.background-text {
	writing-mode: vertical-rl; /* Vertical text from right to left */
	/* transform: rotate(180deg); /\* Rotate to make it read from top to bottom *\/ */
	color: #ccc; /* Adjust text color as needed */
	font-size: 150px; /* Adjust font size as needed */
	position: absolute;
	top: 1%;
	z-index: -1;
	left: 0%;
	font-family: "Starbirl";
	white-space: nowrap;
}

footer {
	text-align: center;
	padding: 1rem;
	background-color: #333;
	color: #fff;
}

@font-face {
	font-family: "Starbirl";
	src: url(assets/fonts/Starbirl.otf);
}

@font-face {
	font-family: "Corporation Games";
	src: url(assets/fonts/Corporation\ Games.otf);
}

@font-face {
	font-family: "Corporation Games Straight";
	src: url(assets/fonts/Corporation\ Games\ Straight.otf);
}

@font-face {
	font-family: "ChakraPetch Regular";
	src: url(assets/fonts/ChakraPetch-Regular.ttf);
}
